openapi: 3.2.0
info:
  title: NOAA CO-OPS Derived Product Extremewaterlevels API
  description: Provides derived oceanographic products computed from CO-OPS observational data, including sea level trends, sea level rise projections, high tide flooding statistics and projections, extreme water levels, peak water levels, and benchmark data.
  version: 1.0.0
  contact:
    name: Tide Predictions
    email: tide.predictions@noaa.gov
  license:
    name: Public Domain
    url: https://www.noaa.gov/disclaimer
servers:
- url: https://api.tidesandcurrents.noaa.gov/dpapi/prod/webapi
  description: NOAA CO-OPS Derived Product API
tags:
- name: Extremewaterlevels
paths:
  /extremewaterlevels:
    get:
      operationId: getExtremeWaterLevels
      summary: Get extreme water levels
      description: Returns statistically computed extreme (annual or monthly) high and low water levels for a station.
      parameters:
      - name: station
        in: query
        required: true
        description: 7-digit station ID.
        schema:
          type: string
          example: '9414290'
      - name: units
        in: query
        required: false
        description: Unit system for returned values.
        schema:
          type: string
          enum:
          - english
          - metric
          default: metric
      - name: extremeType
        in: query
        required: false
        description: Whether to return annual or monthly extremes.
        schema:
          type: string
          enum:
          - annuals
          - monthlies
      - name: levelType
        in: query
        required: false
        description: Whether to return high or low extreme water levels.
        schema:
          type: string
          enum:
          - high
          - low
      - name: details
        in: query
        required: false
        description: Additional detail to include in response.
        schema:
          type: string
          enum:
          - exceedancelevels
          - exceedancelevelsmonth
      responses:
        '200':
          description: Extreme water level statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
      tags:
      - Extremewaterlevels
