openapi: 3.0.3
info:
  title: NOAA CO-OPS Data Retrieval Benchmarks Stations.json API
  description: Retrieves real-time and historical observational and prediction data from NOAA CO-OPS coastal and Great Lakes monitoring stations. Products include water levels, tidal predictions, meteorological observations (wind, air pressure, air and water temperature, humidity, conductivity, salinity, visibility), and currents data.
  version: 1.0.0
  contact:
    name: CO-OPS User Services
    email: co-ops.userservices@noaa.gov
  license:
    name: Public Domain
    url: https://www.noaa.gov/disclaimer
servers:
- url: https://api.tidesandcurrents.noaa.gov/api/prod
  description: NOAA CO-OPS Data Retrieval API
tags:
- name: Stations.json
paths:
  /stations.json:
    get:
      operationId: listStations
      summary: List all stations
      description: Returns a collection of all NOAA CO-OPS monitoring stations, optionally filtered by station type.
      parameters:
      - name: type
        in: query
        required: false
        description: Filter stations by data type capability.
        schema:
          type: string
          enum:
          - waterlevels
          - historicwl
          - met
          - waterlevelsandmet
          - tidepredictions
          - harcon
          - datums
          - supersededdatums
          - benchmarks
          - supersededbenchmarks
          - currents
          - historiccurrents
          - surveycurrents
          - currentpredictions
          - cond
          - watertemp
          - physocean
          - tcoon
          - 1minute
          - airgap
          - visibility
          - highwater
          - lowwater
      - name: units
        in: query
        required: false
        description: Unit system for returned values.
        schema:
          type: string
          enum:
          - english
          - metric
          default: metric
      - name: expand
        in: query
        required: false
        description: Comma-separated list of sub-resources to embed in response.
        schema:
          type: string
          example: details,sensors,datums
      responses:
        '200':
          description: List of stations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationListResponse'
      tags:
      - Stations.json
components:
  schemas:
    Station:
      type: object
      properties:
        id:
          type: string
          description: Station ID
          example: '9414290'
        name:
          type: string
          description: Station name
          example: San Francisco
        lat:
          type: number
          format: double
          description: Station latitude in decimal degrees
          example: 37.8063
        lng:
          type: number
          format: double
          description: Station longitude in decimal degrees
          example: -122.4659
        affiliation:
          type: string
          description: Organization affiliation
          example: NWLON
        portscode:
          type: string
          description: PORTS system code if applicable
          example: sf
        products:
          type: object
          description: Available data products at this station
        disclaimers:
          type: array
          items:
            type: object
        notices:
          type: array
          items:
            type: object
        self:
          type: string
          description: URL of this station resource
          example: https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/9414290.json
    StationListResponse:
      type: object
      properties:
        count:
          type: integer
          description: Number of stations returned
          example: 363
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
