openapi: 3.2.0
info:
  title: NOAA CO-OPS Derived Product Htf Annual API
  description: Provides derived oceanographic products computed from CO-OPS observational data, including sea level trends, sea level rise projections, high tide flooding statistics and projections, extreme water levels, peak water levels, and benchmark data.
  version: 1.0.0
  contact:
    name: Tide Predictions
    email: tide.predictions@noaa.gov
  license:
    name: Public Domain
    url: https://www.noaa.gov/disclaimer
servers:
- url: https://api.tidesandcurrents.noaa.gov/dpapi/prod/webapi
  description: NOAA CO-OPS Derived Product API
tags:
- name: Htf Annual
paths:
  /htf_annual:
    get:
      operationId: getHighTideFloodingAnnual
      summary: Get annual high tide flooding statistics
      description: Returns annual high tide flooding day counts and flood threshold exceedances for a given station.
      parameters:
      - name: station
        in: query
        required: true
        description: 7-digit station ID.
        schema:
          type: string
          example: '9414290'
      - name: year
        in: query
        required: false
        description: Specific year to retrieve (YYYY).
        schema:
          type: integer
          example: 2022
      - name: range
        in: query
        required: false
        description: Number of years to include.
        schema:
          type: integer
          example: 5
      - name: units
        in: query
        required: false
        description: Unit system for returned values.
        schema:
          type: string
          enum:
          - english
          - metric
          default: metric
      - name: datum
        in: query
        required: false
        description: Vertical datum for water level values.
        schema:
          type: string
          enum:
          - MHHW
          - MHW
          - MSL
          - MLLW
          - NAVD
      responses:
        '200':
          description: Annual high tide flooding statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HighTideFloodingResponse'
      tags:
      - Htf Annual
components:
  schemas:
    HighTideFloodingResponse:
      type: object
      properties:
        stationId:
          type: string
          description: Station ID
          example: '9414290'
        data:
          type: array
          items:
            type: object
            properties:
              year:
                type: integer
                description: Year of the flooding data
                example: 2022
              minor:
                type: number
                description: Number of minor flood days
                example: 4
              moderate:
                type: number
                description: Number of moderate flood days
                example: 1
              major:
                type: number
                description: Number of major flood days
                example: 0
