openapi: 3.2.0
info:
  title: NOAA CO-OPS Derived Product Toptenwaterlevels API
  description: Provides derived oceanographic products computed from CO-OPS observational data, including sea level trends, sea level rise projections, high tide flooding statistics and projections, extreme water levels, peak water levels, and benchmark data.
  version: 1.0.0
  contact:
    name: Tide Predictions
    email: tide.predictions@noaa.gov
  license:
    name: Public Domain
    url: https://www.noaa.gov/disclaimer
servers:
- url: https://api.tidesandcurrents.noaa.gov/dpapi/prod/webapi
  description: NOAA CO-OPS Derived Product API
tags:
- name: Toptenwaterlevels
paths:
  /toptenwaterlevels:
    get:
      operationId: getTopTenWaterLevels
      summary: Get top ten water levels
      description: Returns the top ten highest recorded water levels for a given station.
      parameters:
      - name: station
        in: query
        required: true
        description: 7-digit station ID.
        schema:
          type: string
          example: '9414290'
      - name: units
        in: query
        required: false
        description: Unit system for returned values.
        schema:
          type: string
          enum:
          - english
          - metric
          default: metric
      - name: datum
        in: query
        required: false
        description: Vertical datum for water level values.
        schema:
          type: string
          enum:
          - STND
          - MHHW
          - MHW
          - MSL
          - MTL
          - MLW
          - MLLW
          - NAVD
          - IGLD
          - LWD
      responses:
        '200':
          description: Top ten water level events
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WaterLevelEvent'
      tags:
      - Toptenwaterlevels
components:
  schemas:
    WaterLevelEvent:
      type: object
      properties:
        rank:
          type: integer
          description: Rank of this event (1 = highest)
          example: 1
        date:
          type: string
          description: Date of the event
          example: '1982-12-21'
        level:
          type: number
          format: double
          description: Water level value
          example: 2.34
        units:
          type: string
          description: Unit of measurement
          example: m
