openapi: 3.0.3
info:
  title: NOAA CO-OPS Data Retrieval Benchmarks Ports.json API
  description: Retrieves real-time and historical observational and prediction data from NOAA CO-OPS coastal and Great Lakes monitoring stations. Products include water levels, tidal predictions, meteorological observations (wind, air pressure, air and water temperature, humidity, conductivity, salinity, visibility), and currents data.
  version: 1.0.0
  contact:
    name: CO-OPS User Services
    email: co-ops.userservices@noaa.gov
  license:
    name: Public Domain
    url: https://www.noaa.gov/disclaimer
servers:
- url: https://api.tidesandcurrents.noaa.gov/api/prod
  description: NOAA CO-OPS Data Retrieval API
tags:
- name: Ports.json
paths:
  /ports.json:
    get:
      operationId: listPorts
      summary: List PORTS stations
      description: Returns a list of Physical Oceanographic Real-Time System (PORTS) stations.
      parameters:
      - name: ports
        in: query
        required: false
        description: PORTS code filter (e.g., cs for Chesapeake Bay).
        schema:
          type: string
          example: cs
      responses:
        '200':
          description: List of PORTS stations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationListResponse'
      tags:
      - Ports.json
components:
  schemas:
    Station:
      type: object
      properties:
        id:
          type: string
          description: Station ID
          example: '9414290'
        name:
          type: string
          description: Station name
          example: San Francisco
        lat:
          type: number
          format: double
          description: Station latitude in decimal degrees
          example: 37.8063
        lng:
          type: number
          format: double
          description: Station longitude in decimal degrees
          example: -122.4659
        affiliation:
          type: string
          description: Organization affiliation
          example: NWLON
        portscode:
          type: string
          description: PORTS system code if applicable
          example: sf
        products:
          type: object
          description: Available data products at this station
        disclaimers:
          type: array
          items:
            type: object
        notices:
          type: array
          items:
            type: object
        self:
          type: string
          description: URL of this station resource
          example: https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/9414290.json
    StationListResponse:
      type: object
      properties:
        count:
          type: integer
          description: Number of stations returned
          example: 363
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
