openapi: 3.2.0
info:
  title: NOAA CO-OPS Derived Product Benchmarks API
  description: Provides derived oceanographic products computed from CO-OPS observational data, including sea level trends, sea level rise projections, high tide flooding statistics and projections, extreme water levels, peak water levels, and benchmark data.
  version: 1.0.0
  contact:
    name: Tide Predictions
    email: tide.predictions@noaa.gov
  license:
    name: Public Domain
    url: https://www.noaa.gov/disclaimer
servers:
- url: https://api.tidesandcurrents.noaa.gov/dpapi/prod/webapi
  description: NOAA CO-OPS Derived Product API
tags:
- name: Benchmarks
paths:
  /benchmarks:
    get:
      operationId: getBenchmarks
      summary: Get benchmark data
      description: Returns geodetic benchmark data for a specified survey mark.
      parameters:
      - name: vm
        in: query
        required: false
        description: 4-digit vertical monument code.
        schema:
          type: string
          example: '1234'
      - name: pid
        in: query
        required: false
        description: Permanent identifier for a benchmark mark (2 letters + 4 digits).
        schema:
          type: string
          example: AB1234
      - name: date
        in: query
        required: false
        description: Date of benchmark survey (YYYY-MM-DD).
        schema:
          type: string
          format: date
          example: '2020-01-01'
      responses:
        '200':
          description: Benchmark data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
      tags:
      - Benchmarks
