openapi: 3.2.0
info:
  title: NOAA CO-OPS Derived Product Slr Projections API
  description: Provides derived oceanographic products computed from CO-OPS observational data, including sea level trends, sea level rise projections, high tide flooding statistics and projections, extreme water levels, peak water levels, and benchmark data.
  version: 1.0.0
  contact:
    name: Tide Predictions
    email: tide.predictions@noaa.gov
  license:
    name: Public Domain
    url: https://www.noaa.gov/disclaimer
servers:
- url: https://api.tidesandcurrents.noaa.gov/dpapi/prod/webapi
  description: NOAA CO-OPS Derived Product API
tags:
- name: Slr Projections
paths:
  /slr_projections:
    get:
      operationId: getSeaLevelRiseProjections
      summary: Get sea level rise projections
      description: Returns future sea level rise projections for a station or geographic area based on NOAA scenarios.
      parameters:
      - name: station
        in: query
        required: false
        description: 7-digit station ID.
        schema:
          type: string
          example: '9414290'
      - name: affiliation
        in: query
        required: false
        description: Station affiliation.
        schema:
          type: string
          enum:
          - Global
          - US
      - name: projection_year
        in: query
        required: false
        description: Target projection year (e.g., 2050, 2100).
        schema:
          type: integer
          example: 2050
      - name: scenario
        in: query
        required: false
        description: Sea level rise scenario.
        schema:
          type: string
          enum:
          - low
          - intermediate-low
          - intermediate
          - intermediate-high
          - high
          - extreme
      - name: lat
        in: query
        required: false
        description: Latitude for geographic bounding queries.
        schema:
          type: number
          format: double
      - name: lon
        in: query
        required: false
        description: Longitude for geographic bounding queries.
        schema:
          type: number
          format: double
      - name: min_lat
        in: query
        required: false
        description: Minimum latitude for bounding box search.
        schema:
          type: number
          format: double
      - name: max_lat
        in: query
        required: false
        description: Maximum latitude for bounding box search.
        schema:
          type: number
          format: double
      - name: min_lon
        in: query
        required: false
        description: Minimum longitude for bounding box search.
        schema:
          type: number
          format: double
      - name: max_lon
        in: query
        required: false
        description: Maximum longitude for bounding box search.
        schema:
          type: number
          format: double
      responses:
        '200':
          description: Sea level rise projections
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
      tags:
      - Slr Projections
